RewriteEngine On

RewriteRule ^$ login.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^dashboard/?$ dashboard.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

RewriteCond %{THE_REQUEST} \s/+(.+)\.php[?\s] [NC]
RewriteRule ^ /%1 [R=301,L]